body {
  margin:0;
  font-family:'Montserrat';
  background:black;
  color:#d4af37;
  overflow:hidden;
}

/* PAGES */
#pages {
  display:flex;
  width:100vw;
  height:100vh;
  transition:transform 0.5s ease;
}

.page {
  min-width:100vw;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:20px;
}

/* TEXTO */
.lux {
  font-family:'Playfair Display';
  background:linear-gradient(120deg,#d4af37,#fff3b0,#d4af37);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.big { font-size:60px; }

/* DOTS */
#dots {
  position:fixed;
  bottom:20px;
  width:100%;
  display:flex;
  justify-content:center;
  gap:8px;
}

#dots span {
  width:8px;
  height:8px;
  background:#555;
  border-radius:50%;
}

#dots .active {
  background:#d4af37;
}

/* SLIDER */
.slider {
  overflow:hidden;
  width:100%;
}

.track {
  display:flex;
  gap:20px;
}

.track img {
  width:220px;
  height:300px;
  border-radius:16px;
}

/* INTRO */
#intro {
  position:fixed;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
